**Identify customer segments for online retail with the use of K-means clustering using Online_Retail dataset**

In [87]:
# Supress unnecessary warnings

import warnings
warnings.filterwarnings('ignore')

In [89]:
# Import the NumPy and Pandas packages

import numpy as np
import pandas as pd

In [91]:
# Read the dataset

Online_Retail = pd.read_excel("Online Retail.xlsx")

In [94]:
# Display the top 5 rows

Online_Retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [96]:
# Inspect the shape of the dataset

Online_Retail.shape

(541909, 8)

In [98]:
# Inspect the different columsn in the dataset

Online_Retail.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [100]:
# Check the info to see the types of the feature variables and the null values present

Online_Retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [102]:
Online_Retail.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

**Missing value handling**

In [104]:
# Check the number of missing values in each column

Online_Retail.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [106]:
# Calculate the proportion of non-missing values for each column
Online_Retail_missing = Online_Retail.count() / len(Online_Retail)

# Convert the proportions to percentages and calculate the percentage of missing values for each column
Online_Retail_missing = (1 - Online_Retail_missing) * 100

# Sort the missing percentages in descending order 
Online_Retail_missing.sort_values(ascending=False)

CustomerID     24.926694
Description     0.268311
InvoiceNo       0.000000
StockCode       0.000000
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
Country         0.000000
dtype: float64

In [108]:
# Description percentage is very less hence removed

Online_Retail.dropna(subset=['Description'], inplace=True)

In [110]:
# Check the number of null values again
Online_Retail.isnull().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     133626
Country             0
dtype: int64

In [112]:
#Fill missing values with 0
Online_Retail['CustomerID'].fillna(0, inplace=True)

In [114]:
# Check the number of null values again
Online_Retail.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [116]:
Online_Retail = Online_Retail.drop_duplicates()

In [118]:
Online_Retail.info()

<class 'pandas.core.frame.DataFrame'>
Index: 535187 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    535187 non-null  object
 1   StockCode    535187 non-null  object
 2   Description  535187 non-null  object
 3   Quantity     535187 non-null  int64
 4   InvoiceDate  535187 non-null  datetime64[ns]
 5   UnitPrice    535187 non-null  float64
 6   CustomerID   535187 non-null  float64
 7   Country      535187 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 36.7+ MB

**Correct data types**

In [120]:
# Convert CustomerID column from float to string
Online_Retail['CustomerID'] = Online_Retail['CustomerID'].astype(str)

**Transform the data**

In [122]:
# For numerical columns like price, sales, etc.:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaler = StandardScaler()
Online_Retail[['UnitPrice', 'Quantity']] = scaler.fit_transform(Online_Retail[['UnitPrice', 'Quantity']])

**Encode Categorical Columns**

In [124]:
#For text data create dummies
# One-hot encoding
Online_Retail = pd.get_dummies(Online_Retail, columns=['Country'], drop_first=True)

In [128]:
Online_Retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country_Austria,Country_Bahrain,Country_Belgium,...,Country_RSA,Country_Saudi Arabia,Country_Singapore,Country_Spain,Country_Sweden,Country_Switzerland,Country_USA,Country_United Arab Emirates,Country_United Kingdom,Country_Unspecified
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,-0.016761,2010-12-01 08:26:00,-0.021520,17850.0,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,536365,71053,WHITE METAL LANTERN,-0.016761,2010-12-01 08:26:00,-0.012892,17850.0,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,-0.007631,2010-12-01 08:26:00,-0.019465,17850.0,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,-0.016761,2010-12-01 08:26:00,-0.012892,17850.0,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,-0.016761,2010-12-01 08:26:00,-0.012892,17850.0,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [130]:
Online_Retail.shape

(535187, 44)

**Feature Engineering**

In [132]:
# Create amount column
Online_Retail['Amount'] = Online_Retail['UnitPrice'] * Online_Retail['Quantity']

In [134]:
Online_Retail['InvoiceDate'] = pd.to_datetime(Online_Retail['InvoiceDate'])

In [136]:
Online_Retail['Year'] = Online_Retail['InvoiceDate'].dt.year
Online_Retail['Month'] = Online_Retail['InvoiceDate'].dt.month
Online_Retail['Day'] = Online_Retail['InvoiceDate'].dt.day
Online_Retail['Hour'] = Online_Retail['InvoiceDate'].dt.hour
Online_Retail['Date'] = Online_Retail['InvoiceDate'].dt.date

In [138]:
Online_Retail['InvoiceDayOfWeek'] = Online_Retail['InvoiceDate'].dt.dayofweek
Online_Retail['IsWeekend'] = (Online_Retail['InvoiceDayOfWeek'] >= 5).astype(int)

In [140]:
Online_Retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country_Austria,Country_Bahrain,Country_Belgium,...,Country_United Kingdom,Country_Unspecified,Amount,Year,Month,Day,Hour,Date,InvoiceDayOfWeek,IsWeekend
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,-0.016761,2010-12-01 08:26:00,-0.021520,17850.0,False,False,False,...,True,False,0.000361,2010,12,1,8,2010-12-01,2,0
1,536365,71053,WHITE METAL LANTERN,-0.016761,2010-12-01 08:26:00,-0.012892,17850.0,False,False,False,...,True,False,0.000216,2010,12,1,8,2010-12-01,2,0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,-0.007631,2010-12-01 08:26:00,-0.019465,17850.0,False,False,False,...,True,False,0.000149,2010,12,1,8,2010-12-01,2,0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,-0.016761,2010-12-01 08:26:00,-0.012892,17850.0,False,False,False,...,True,False,0.000216,2010,12,1,8,2010-12-01,2,0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,-0.016761,2010-12-01 08:26:00,-0.012892,17850.0,False,False,False,...,True,False,0.000216,2010,12,1,8,2010-12-01,2,0